name: Coding Style

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run:
    runs-on: ubuntu-latest
    name: PHP 8.0
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: "8.0"
        extensions: mbstring, intl
        ini-values: post_max_size=256M
        coverage: xdebug
        tools: php-cs-fixer, phpunit
    - name: Get composer cache directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"
    - name: Cache composer dependencies
      uses: actions/cache@v2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        # Use composer.json for key, if composer.lock is not committed.
        # key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-
    - name: Install Composer dependencies
      run: |
        composer install --no-progress --prefer-dist --optimize-autoloader
    - name: Check code style issues
      run: |
        vendor/bin/phpcs --config-set installed_paths vendor/escapestudios/symfony2-coding-standard
        composer run-script php-cs-fixer-check
        composer run-script phpcs-check
